/.tmp/
/testimages/
/0b_save.jpeg
/0b_save.png
/0b_save.tiff
/*.md~
/0b_save.bmp
/0b_save_from_png.tif
/wf0070.txt
/wf0070b.txt
/wf_out.tif
/0b.jpg
/0b_test.bmp
/12_16_bit.tif
/a.bmp
/gauss3.bmp
/large.bmp
/wf_neu.tif
/*.bmp
/html/
/test/
a.tif
image_read_write
image_read_write_withlib
/bin/
/*.bmp.tar.bz2
/*.bak
/*.tag
/*.pro.user
/*.log
/Makefile
/ab.BMP
/a.BMP
/*.gitignore~
/*.tif
/*.fld
/4.1.05.tiff
/4.2.03.tiff
/5.1.09.tiff
/blue_gimp.tiff
/lena512color.tiff
/numbers.512.tiff
/ruler.512.tiff
/testpat.1k.tiff
/tiff2raw.c
/tiff6.pdf
/jk.txt
/tst/
